@font-face {
font-family: ElvenCommonSpeak;
src: url("elvencommonspeak.ttf")
}





handwritten {
    font-size: 6em;
    font-family: ElvenCommonSpeak, Fallback Zapfino, sans-serif;
}

translated {
    font-size: 4em;
    font-family: Rellanic, sans-serif;
}



