<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<h1>
<handwritten>
  Welcome to the Elvish Translator
</handwritten>
</h1>

<textarea autofocus form="translate" placeholder="Enter text to translate" name="translate"></textarea>

<form action="/translate" method="POST" id="translate">
  <input type="submit" value="Translate">
</form>
<br>

<handwritten>
  <%= @handwritten %>
</handwritten>

<br>

<translated>
  <%= @elvish %>
</translated>




