<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<handwritten>
  Welcome to the Elvish Translator
</handwritten>

<form action="/translate" method="POST">
  <input type="submit" value="Translate">
</form>

<translated>
  This is a test, and ' so was that.:
</translated>
