<head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<handwritten>
  Welcome to the Elvish Translator
</handwritten>

<form action="/translate" method="POST" id="translate">
  <input type="submit" value="Translate">
</form>

<textarea autofocus form="translate" placeholder="Enter text to translate" name="translate">

</textarea>

<translated>
  <%= @elvish %>
</translated>

<handwritten>
  <%= @handwritten %>
</handwritten>



